<!--  -->
{% load humanize %}
<!--  -->
<div id="desktop-table">
  <div class="container">
    <div class="desktop-table-intro">
      <div class="card">
        <div class="card-body">
          <table class="table table-hover" id="invoice_table">
            <thead>
              <tr>
                <th scope="col">username</th>
                <th scope="col">date</th>
                <th scope="col">description</th>
                <th scope="col">main category</th>
                <th scope="col">status</th>
                <th scope="col">sub category</th>
                <th scope="col">payment</th>
                <th scope="col">download</th>
                <th scope="col">edit</th>
              </tr>
            </thead>
            <tbody>
              {% for report in reports %}
              <tr>
                <td>{{report.account_owner.username}}</td>
                <td>{{report.created_time_stamp|date:"d F, Y"}}</td>
                <td>{{report.description|truncatechars:15}}</td>
                <td>{{report.main_category|truncatechars:15}}</td>
                <td>
                  {% if report.status == 'pending' %}
                  <span class="badge pending">pending</span>
                  {% elif report.status == 'reject' %}
                  <span class="badge reject">reject</span>
                  {% elif report.status == 'correction' %}
                  <span class="badge correction">correction</span>
                  {% else %}
                  <span class="badge approve">approve</span>
                  {% endif %}
                </td>
                <td>{{report.sub_category|truncatechars:15}}</td>
                <td>${{report.payment|floatformat:2|intcomma}}</td>
                <td>
                  <a href="{% url 'download_report' report.id %}"
                    ><ion-icon name="download-outline"></ion-icon
                  ></a>
                </td>
                {% if report.status in list or report.account_owner != user %}
                <td class="icon-cell"></td>
                {% else %}
                <td>
                  <!-- Check if the report status is 'correction' -->
                  {% if report.status == 'correction' %}
                  <!-- Link to make a correction -->
                  <a href="{% url 'make-correction' report.id %}">
                    <ion-icon name="link-outline"></ion-icon>
                  </a>
                  {% else %}
                  <!-- Link to edit the report -->
                  <a href="{% url 'edit-report' report.id %}">
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                  </a>
                  {% endif %}
                </td>
                <!--  -->
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- end table -->
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->
    </div>
    <!-- End desktop-table-intro-->
  </div>
  <!-- End container -->
</div>
