{% load static %}
<!--  -->
{% load widget_tweaks %}
<!--  -->
{% load humanize %}
<!--  -->
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Enhance your reporting capabilities with the Excel Report Manager App."
    />
    <meta
      name="keywords"
      content="report manager, Excel reports, reporting software"
    />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Finance-Manager | dashboard Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link
      rel="preload"
      as="style"
      href="{% static '/css/admin_dashboard.css' %}"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/admin_dashboard.css' %}" />
    <link rel="stylesheet" href="{% static '/css/notifications.css' %}" />

    <!--  -->
    <script src="{% static '/js/htmx.min.js' %}"></script>
    <!--  -->

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    {% include 'nav.html' %}
    <!-- end nav -->
    <main>
      {% include 'toast.html' %}

      <!-- notification -->
      {% include 'notifications.html' %}
      <!-- end notification -->
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container-fluid">
            <div class="hero-intro">
              <h1>
                Welcome back, {{request.user.profile.username}}
                <button
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"
                  class="px-4 btn"
                  id="new_report"
                >
                  New Report
                </button>
              </h1>

              <!-- dashboard cards -->
              <div class="row" id="dashboard_card">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h6>
                        <img
                          src="{% static 'images/loading.png' %}"
                          class="img-fluid"
                          id="pending_img"
                          alt="pending_img"
                        />
                        pending reports
                      </h6>
                      <div id="stats">
                        <center>
                          <small>{{reports_count}}</small>
                        </center>
                      </div>
                      <!-- end stats -->
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h6 id="payment">
                        <img
                          src="{% static 'images/money.png' %}"
                          class="img-fluid"
                          id="total-payment_img"
                          alt="total-payment_img"
                        />
                        total payments
                      </h6>
                      <div id="stats">
                        {% if total_amount == 0 %}
                        <center>
                          <small>$0.00</small>
                        </center>
                        {% else %}
                        <center>
                          <small
                            >${{ total_amount|floatformat:2|intcomma }}</small
                          >
                        </center>
                        {% endif %}
                      </div>
                      <!-- end stats -->
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-4 align-self-center">
                  <div class="card">
                    <div class="card-body">
                      <h6 id="users">
                        <img
                          src="{% static 'images/user.png' %}"
                          class="img-fluid"
                          id="user_img"
                          alt="user_img"
                        />
                        <a href="{% url 'users' %}">
                          <span>manage users</span>
                        </a>
                      </h6>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
              </div>
              <!-- end dashboard cards -->

              <img
                src="{% static 'images/line.png'%}"
                class="img-fluid d-flex mx-auto"
                id="page_line"
                alt="page_line"
              />
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->

        <!--=========================================== Reports-Section ===============================-->
        <div id="reports">
          <div class="container-fluid">
            <div class="reports-intro">
              <!-- serach for reports -->
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <!--  -->
                      <p>Search Reports by <small>username or date</small></p>
                      <form
                        hx-get="{% url 'dashboard' %}"
                        hx-target="#desktop-table"
                        hx-swap="outerHTML"
                      >
                        <div class="row">
                          <div class="col-md-5">
                            <!--  -->
                            <label for="id_username">Username</label>
                            {{ filter.form.username|add_class:"form-select" }}
                            <!--  -->
                            <!-- {% render_field filter.form.username %} -->
                          </div>
                          <!-- end username -->
                          <div class="col-md-5">
                            <label for="id_created_time_stamp">Date</label>
                            {{ filter.form.created|add_class:"form-control" }}
                          </div>
                          <!-- end date -->

                          <div
                            class="col-md-2 align-self-center"
                            id="search-btn"
                          >
                            <button type="submit" class="btn" id="search-btn">
                              <img
                                src="{% static 'images/search.png' %}"
                                class="img-fluid"
                                id="search__img"
                                alt="search__img"
                              />
                            </button>
                          </div>
                          <!-- end search-btn -->
                        </div>
                        <!-- end row -->
                      </form>
                    </div>
                    <!-- end card-body -->
                  </div>
                </div>
              </div>
              <!-- end search for reports -->
            </div>
            <!-- End reports-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End reports -->

        <!--=========================================== Modal ===============================-->
        {% include 'reports-table.html' %}
        <!-- end eports-table -->

        <!--=========================================== Modal ===============================-->
        {% include 'add-reports-modal.html' %}
        <!-- end add_invoice_modal -->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/admin_dashboard.js' %}"></script>
  </body>
</html>
