*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Apercu-Bold";
  src: url("../fonts/Apercu-Bold.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmerica-Light";
  src: url("../fonts/GTAmerica-Light.woff2");
}
.page-content {
  --main-color: #171b23;
  --text-color: #f6f6f3;
  --header-font: "Apercu-Bold";
  --text-font: "GTAmerica-Light";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/* django message styles */
#alert_message {
  width: 80%;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  margin-top: 2%;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 100;
  border: none;
}
.alert-error {
  background: #dc8686 !important;
  color: var(--main-color) !important;
}
.alert-success {
  background: #c3e2c2 !important;
  color: var(--main-color) !important;
}

/****************************************** ****** ************************************/
#hero {
  margin-top: 2%;
}
.hero-intro {
  margin: 3%;
}
#return_back {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 3%;
}
.hero-intro #review_card {
  max-width: 50%;
}

/*  */
.hero-intro h5 {
  letter-spacing: 1px;
  font-family: var(--header-font);
  font-size: 1.8rem;
  margin-top: 2%;
}
.hero-intro h5 ion-icon {
  vertical-align: middle;
}

/* status */
.hero-intro .badge {
  margin-bottom: 2%;
}
.hero-intro .pending {
  background: #c1c7d1ca;
  color: #5b616bca;
  font-size: 1.6vh;
}
.hero-intro .correction {
  background: #eadff8;
  color: #8d75e6;
  font-size: 1.6vh;
}
.hero-intro .approve {
  background: #d9ffe0;
  color: #027a48;
  font-size: 1.6vh;
}
.hero-intro .reject {
  background: #ffe2d5;
  color: #ff4539;
  font-size: 1.6vh;
}

.hero-intro h2 {
  font-size: 1.3rem;
  font-family: var(--header-font);
  color: var(--main-color);
  letter-spacing: 1px;
}
.hero-intro p {
  font-size: 1.2rem;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 5%;
}
.hero-intro h3 {
  font-size: 1.1rem;
  font-family: var(--header-font);
  color: var(--main-color);
  letter-spacing: 1px;
  margin-bottom: 2%;
}
.hero-intro h3 ion-icon {
  vertical-align: middle;
  font-size: 1.4rem;
}
.hero-intro h3 span {
  font-family: var(--text-font);
  font-size: 1.2rem;
}

/*  */
.hero-intro label {
  font-size: 1.2rem;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
}
.hero-intro .input {
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  border: 1px solid #7b8fa1;
  background: transparent;
}
.hero-intro select {
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  border: 1px solid #7b8fa1;
}
.hero-intro select:focus,
.hero-intro textarea:focus {
  box-shadow: none !important;
  outline: 0px !important;
  border: 1px solid #7b8fa199;
  color: var(--main-color);
}

/*  */
.hero-intro #edit_btn {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.2rem;
  background-color: #3e6567;
  transition: all 0.5s ease-in-out;
}
.hero-intro #edit_btn:hover {
  color: var(--text-color);
  background: #3e6567c4;
  transition: all 0.5s ease-in-out;
}

/* ReportNote */
#ReportNote {
  margin-top: 3%;
}

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  body {
    display: none;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    display: none;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    display: none;
  }
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* django message styles */
  #alert_message {
    width: 25%;
    font-size: 1rem;
    margin-top: 2%;
    top: 7%;
    left: 40%;
  }
}

/************************ Extra large devices (extra large desktops, 1900px and up) ********************************/
@media (min-width: 2000px) {
}
