*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Apercu-Bold";
  src: url("../fonts/Apercu-Bold.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmerica-Light";
  src: url("../fonts/GTAmerica-Light.woff2");
}
.page-content {
  --main-color: #171b23;
  --text-color: #f6f6f3;
  --header-font: "Apercu-Bold";
  --text-font: "GTAmerica-Light";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/* django message styles */
#alert_message {
  width: 80%;
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  margin-top: 2%;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 100;
  border: none;
}
.alert-error {
  background: #dc8686 !important;
  color: var(--main-color) !important;
}
.alert-success {
  background: #c3e2c2 !important;
  color: var(--main-color) !important;
}

/****************************************** NAVIGATION ************************************/
#mainNav {
  transform: translateY(0);
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 3px;
  padding-bottom: 0px;
  background: var(--text-color);
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  width: 100vw;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 27px;
  right: 18px;
  padding: 1px;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: var(--main-color);
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  width: 15px;
}
.navbar-toggler span:nth-child(2) {
  width: 37px;
  margin: 5px 0;
}
.navbar-toggler span:nth-child(3) {
  float: right;
}
.navbar-toggler:hover span:nth-child(1),
.navbar-toggler:hover span:nth-child(3) {
  width: 35px;
}
#profile_img {
  width: 35px;
}
#mainNav small {
  font-size: 1.2rem;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
  vertical-align: middle;
}
#mainNav .navbar-brand {
  color: #8858d1;
}
.left--links a {
  font-family: var(--text-font);
  color: #999;
  letter-spacing: 1px;
  font-size: 1.2rem;
  line-height: normal;
}

/* nav-|| */
#nav_span {
  margin-left: 12px;
  margin-right: 12px;
}

/****************************************** Hero-Section ************************************/
#hero {
  margin-top: 7%;
}
.hero-intro {
  margin: 3%;
}
.hero-intro h1 {
  font-size: 4.2vh;
  font-family: var(--header-font);
  color: var(--text-color);
  letter-spacing: 1px;
  margin-bottom: 2%;
}

/* add user */
#new_user ion-icon {
  vertical-align: middle;
  font-size: 1.3rem;
  margin-right: -2%;
}
#new_user {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.2rem;
  float: right;
  cursor: pointer;
  line-height: 1.4;
  background-color: #3e6567;
  transition: all 0.5s ease-in-out;
}
#new_user:hover {
  color: var(--text-color);
  background: #3e6567c4;
  transition: all 0.5s ease-in-out;
}

/* user card */
#user_cards .card {
  margin-top: 10%;
}
#user_img {
  width: 50px;
  object-fit: contain;
}
#user_cards h5 {
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--header-font);
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 3%;
}
#user_cards h6 {
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  text-align: center;
}
#user_cards ion-icon {
  vertical-align: middle;
  font-size: 1rem;
}
#user_role ion-icon {
  color: #c1c7d1ca;
}

/* action_btns */
#action_btns {
  display: flex;
  justify-content: space-between;
}
#action_btns a ion-icon {
  font-size: 1.6rem;
}

/*  */
#page_line {
  margin-top: 3%;
}

/****************************************** Add-user-modal ************************************/
#create-user-offcanvas .offcanvas {
  width: 605px;
}
#create-user-offcanvas .offcanvas .card {
  border: 1px solid #6b728067;
}
#user-add-row {
  margin-top: 12%;
}
#create-user-offcanvas .offcanvas h5 {
  font-size: 1.5rem;
  font-family: var(--header-font);
  color: var(--main-color);
  letter-spacing: 1px;
}
#create-user-offcanvas .offcanvas h5 span {
  font-family: var(--text-font);
  color: #6b7280;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
#create-user-offcanvas .offcanvas label {
  font-size: 1.1rem;
  font-family: var(--text-font);
  color: var(--main-color);
  letter-spacing: 1px;
}
#create-user-offcanvas .offcanvas .input {
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  border: 1px solid #7b8fa1;
}
#create-user-offcanvas .offcanvas form input::placeholder {
  color: #7b8fa199;
}
#create-user-offcanvas .offcanvas select {
  color: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  border: 1px solid #7b8fa1;
}
#create-user-offcanvas .offcanvas select:focus,
#create-user-offcanvas .offcanvas input:focus {
  box-shadow: none !important;
  outline: 0px !important;
  border: 1px solid #7b8fa199;
  color: var(--main-color);
}

#save--btn {
  color: var(--text-color);
  background: #3e6567;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.1rem;
  transition: all 0.5s ease-in-out;
}
#save--btn:hover {
  color: var(--text-color);
  background: #3e6567c4;
  transition: all 0.5s ease-in-out;
}

/****************************************** Footer-Section ************************************/
footer {
  margin-top: -2%;
}
footer p {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 1.8vh;
  text-align: center;
}

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  body {
    display: none;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    display: none;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    display: none;
  }
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /* django message styles */
  #alert_message {
    width: 25%;
    font-size: 1rem;
    margin-top: 2%;
    top: 7%;
    left: 40%;
  }

  /*  */
  #mainNav small {
    font-size: 1.1rem;
  }
  .left--links {
    margin-left: 4%;
  }
  .left--links a {
    font-size: 1.1rem;
  }
}

/************************ Extra large devices (extra large desktops, 1900px and up) ********************************/
@media (min-width: 2000px) {
}
