{% load static %}
<!--  -->
{% load widget_tweaks %}
<!--  -->
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Enhance your reporting capabilities with the Excel Report Manager App."
    />
    <meta
      name="keywords"
      content="report manager, Excel reports, reporting software"
    />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>excel-report-manager | Edit Reports Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link
      rel="preload"
      as="style"
      href="{% static '/css/edit-reports.css' %}"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/edit-reports.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    {% include 'toast.html' %}
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Section ===============================-->
        <div id="hero">
          <div class="container-fluid">
            <div class="hero-intro">
              <!--  -->
              <a href="javascript:history.back()">
                <img
                  src="{% static '/images/left.png' %}"
                  class="img-fluid"
                  id="return_back"
                  alt="return_back-img"
                />
              </a>
              <!--  -->
              <div class="card d-flex mx-auto" id="edit_card">
                <div class="card-body">
                  <div class="card">
                    <div class="card-body">
                      <h5>
                        Edit report - [
                        <img
                          src="{% static '/images/user.png' %}"
                          class="img-fluid"
                          id="user_img"
                          alt="user_img"
                        />
                        {{report.account_owner}} ]
                      </h5>
                      {% if report.status == 'pending' %}
                      <span class="badge pending">pending</span>
                      {% elif report.status == 'reject' %}
                      <span class="badge reject">reject</span>
                      {% elif report.status == 'correction' %}
                      <span class="badge correction">correction</span>
                      {% else %}
                      <span class="badge approve">approve</span>
                      {% endif %}

                      <!--  -->
                      <form method="POST" action="">
                        {% csrf_token %}
                        <!--  -->
                        <div class="row">
                          <div class="col-md-12">
                            <div class="mb-3">
                              <label
                                for="exampleFormControlInput1"
                                class="form-label"
                                >Description
                                <sup class="text-danger fw-bold fs-6"
                                  >*</sup
                                ></label
                              >
                              {{form.description}}
                            </div>
                            <!-- end description -->
                          </div>
                          <!-- end col-description -->

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label
                                for="exampleMainCategory"
                                class="form-label"
                                >Main Category
                                <sup class="text-danger fw-bold fs-6"
                                  >*</sup
                                ></label
                              >
                              {{form.main_category}}
                            </div>
                            <!-- end main_category -->
                          </div>
                          <!-- end col-main_category -->

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="exampleSubCategory" class="form-label"
                                >Sub Category
                                <sup class="text-danger fw-bold fs-6"
                                  >*</sup
                                ></label
                              >
                              {{form.sub_category}}
                            </div>
                            <!-- end sub_category -->
                          </div>
                          <!-- end col-sub_category -->

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="exampleStatus" class="form-label"
                                >Status
                                <sup class="text-danger fw-bold fs-6"
                                  >*</sup
                                ></label
                              >
                              {% if request.user.role == 'accountant' %}
                              <!--  -->
                              {{form.status|add_class:"hide_status"}}
                              <!--  -->
                              {% else %}
                              <!--  -->
                              {{form.status}}
                              <!--  -->
                              {% endif %}
                            </div>
                            <!-- end status -->
                          </div>
                          <!-- end col-status -->

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="examplePayment" class="form-label"
                                >Payment
                                <sup class="text-danger fw-bold fs-6"
                                  >*</sup
                                ></label
                              >
                              {{form.payment}}
                            </div>
                            <!-- end payment -->
                          </div>
                          <!-- end col-payment -->

                          <div class="col-md-12" id="ReportNote">
                            <div class="mb-3">
                              <label for="exampleReportNote" class="form-label"
                                >Leave Note for Accountant
                                <sup class="text-danger fw-bold fs-6"
                                  >*</sup
                                ></label
                              >
                              {{form.report_note}}
                            </div>
                            <!-- end ReportNote -->
                          </div>
                          <!-- end col-ReportNote -->
                        </div>
                        <!-- end form_row -->

                        <div id="action_btn">
                          <button type="submit" class="btn" id="edit_btn">
                            Save Report
                          </button>
                          <a
                            href="#delete"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteReportModal"
                          >
                            <img
                              id="trash"
                              src="{% static '/images/bin.png' %}"
                              alt="trash"
                            />
                          </a>
                        </div>
                        <!-- end action_btn -->
                      </form>
                      <!--  -->
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end edit_card-card-body -->
              </div>
              <!-- end edit_card -->
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->

        <!--=========================================== delete-report-Modal--layout ===============================-->
        {% include 'delete-report-modal.html' %}
        <!-- End delete-report-modal-->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <!--  -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
