{% load static %}
<!--  -->
{% load humanize %}
<!--=========================================== -notification-offcanvas ===============================-->
<div id="notification-offcanvas">
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="notification"
    aria-labelledby="offcanvasRightLabel"
    data-bs-backdrop="static"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Notifications</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <!-- end offcanvas-header -->
    <div class="offcanvas-body">
      <!-- accountant notification -->
      {% if request.user.role == 'accountant' %}
      <!--  -->
      {% if notification_reports %}
      <div id="notification_container">
        {% for report in notification_reports %}
        <!--  -->
        <div id="notification_div">
          <!-- ☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️ -->
          {% if report.status == 'reject' or report.status == 'approve' %}
          <a href="{% url 'report' report.id %}">
            <img
              src="{% static 'images/notification.png'%}"
              class="img-fluid"
              id="noti_bell"
              alt="noti_bell"
            />
            <span id="move_txt">
              Admin has reviewed and set report status to
              <strong>{{report.status}}</strong>
              <br />
              <small
                >[Report description] -
                {{report.description|truncatechars:35}}</small
              >
            </span>
          </a>
          {% else %}
          <a href="{% url 'make-correction' report.id %}">
            <img
              src="{% static 'images/notification.png'%}"
              class="img-fluid"
              id="noti_bell"
              alt="noti_bell"
            />
            <span id="move_txt">
              Admin has reviewed and set report status to
              <strong>{{report.status}}</strong>
              <br />
              <small
                >[Report description] -
                {{report.description|truncatechars:35}}</small
              >
            </span>
          </a>
          {% endif %}
          <!-- ☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️☑️ -->
        </div>
        <!-- end notification_div -->
        {% endfor %}
      </div>
      <!-- end notification_container -->

      <hr id="noti_line" />

      <!--  -->
      <a href="{% url 'corrections' %}" id="correction__link">
        <span>view correction reports</span>
      </a>
      <!--  -->

      {% else %}
      <img
        src="{% static 'images/inbox-tray.svg' %}"
        class="img-fluid d-flex mx-auto"
        id="notification_tray"
        alt="notification_tray"
      />
      <h2>Zero Reports</h2>
      <p>Congratulations! You cleared your important notifications 🎉</p>
      {% endif %}
      <!--  -->
      {% endif %}
      <!-- end accountant notification -->

      <!-- 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 -->

      <!-- admin notification -->
      {% if request.user.role == 'admin' %}
      <!--  -->
      {% if pending_reports %}
      <div id="notification_container">
        {% for report in pending_reports %}
        <!--  -->
        <div id="notification_div">
          <a href="{% url 'review-report' report.id %}">
            <img
              src="{% static 'images/notification.png'%}"
              class="img-fluid"
              id="noti_bell"
              alt="noti_bell"
            />
            <span id="move_txt">
              <strong>{{report.account_owner}}</strong> has submitted a new
              report for your review!
              <br />
              <small
                >[Report description] -
                {{report.description|truncatechars:35}}</small
              >
            </span>
          </a>
        </div>
        <!-- end notification_div -->
        {% endfor %}
      </div>
      <!-- end notification_container -->

      <hr id="noti_line" />

      <!--  -->
      <a href="{% url 'pending-reports' %}" id="correction__link">
        <span>view pending reports</span>
      </a>
      <!--  -->

      {% else %}
      <img
        src="{% static 'images/inbox-tray.svg' %}"
        class="img-fluid d-flex mx-auto"
        id="notification_tray"
        alt="notification_tray"
      />
      <h2>Zero Reports</h2>
      <p>Congratulations! You cleared your important notifications 🎉</p>
      {% endif %}
      <!--  -->
      {% endif %}
      <!-- end admin notification -->
    </div>
    <!-- end offcanvas-body -->
  </div>
  <!-- end off-canvas -->
</div>
<!-- end notification-offcanvas -->
