{% load static %}
<!--  -->
{% load humanize %}
<!--=========================================== -notification-offcanvas ===============================-->
<div id="notification-offcanvas">
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="notification"
    aria-labelledby="offcanvasRightLabel"
    data-bs-backdrop="static"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Notifications</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <!-- end offcanvas-header -->
    <div class="offcanvas-body">
      <!-- accountant notification -->
      <img
        src="{% static 'images/inbox-tray.svg' %}"
        class="img-fluid d-flex mx-auto"
        id="notification_tray"
        alt="notification_tray"
      />
      <h2>Report Zero</h2>
      <p>Congratulations! You cleared your important notifications 🎉</p>
      <!-- end accountant notification -->
    </div>
    <!-- end offcanvas-body -->
  </div>
  <!-- end off-canvas -->
</div>
<!-- end notification-offcanvas -->
