{% if notifications %}
<a class="nav-link" href="{% url notifications_url %}">
  <img
    id="notification_img"
    src="{% static 'images/notification.png' %}"
    class="img-fluid"
    alt="notification_img"
  />
  <sup>
    <img
      id="notification_dot"
      src="{% static 'images/dot.svg' %}"
      class="img-fluid"
      alt="notification_dot"
    />
  </sup>
</a>
{% else %}
<a class="nav-link" href="{% url notifications_url %}">
  <img
    id="notification_img"
    src="{% static 'images/notification.png' %}"
    class="img-fluid"
    alt="notification_img"
  />
</a>
{% endif %}
