{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Enhance your reporting capabilities with the Excel Report Manager App."
    />
    <meta
      name="keywords"
      content="report manager, Excel reports, reporting software"
    />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static 'images/favicon.svg' %}" />
    <title>Password change Successful Page</title>

    <!-- Preload CSS -->
    <link
      rel="preload"
      as="style"
      href="{% static '/css/password_done.css' %}"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/password_done.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Section ===============================-->
        <div id="hero">
          <div class="container">
            <div class="hero-intro">
              <div id="return_link">
                <a href="{% url 'profile' %}">
                  <img
                    id="return-link_img"
                    src="{% static '/images/return_link-img.png' %}"
                    class="img-fluid"
                    alt="return-link_img"
                  />
                  <h6>return back</h6>
                </a>
              </div>
              <!-- End return_link -->

              <div class="row">
                <div class="col-md-6">
                  <div id="page_logo">
                    <img
                      src="{% static '/images/logo.svg' %}"
                      class="img-fluid"
                      id="logo"
                      alt="logo"
                    />
                  </div>

                  <h1>Password change successful</h1>
                  <p>
                    Your password was successfully changed. If you did not
                    request this change, please contact our support team
                    immediately for assistance.
                  </p>

                  <!--  -->

                  <!--  -->
                </div>
                <!-- End col-->
              </div>
              <!-- End row -->
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->

        <!--  -->
        <!--=========================================== page--layout ===============================-->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>

    <!-- unpkg -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
