*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Apercu-Bold";
  src: url("../fonts/Apercu-Bold.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmerica-Light";
  src: url("../fonts/GTAmerica-Light.woff2");
}
.page-content {
  --main-color: #171b23;
  --text-color: #f6f6f3;
  --header-font: "Apercu-Bold";
  --text-font: "GTAmerica-Light";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/************************ Hero-Section *****************************/
#hero {
  margin-top: 10%;
}
.hero-intro {
  margin: 3%;
}
#return_link {
  margin-left: 65%;
  margin-bottom: 10%;
}
#return-link_img {
  width: 60%;
}
#return_link h6 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 2vh;
}
#page_logo {
  width: 10%;
  margin-bottom: 2%;
}
.hero-intro h1 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--header-font);
  font-size: 4vh;
}
.hero-intro p {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  line-height: 1.3;
  font-size: 2.2vh;
}
.hero-intro .card {
  border: 1px solid var(--main-color);
  background: #20242c;
  margin: 3%;
}
.hero-intro label {
  display: block;
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 2.2vh;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1%;
}
input {
  width: 100%;
  padding: 0.7rem 0.7rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  border: 1px solid #7b8fa127;
  background: var(--main-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  font-size: 2vh;
  color: #f6f6f3;
}
input:focus,
input:active {
  box-shadow: none !important;
  outline: 0px !important;
  border: 1px solid #7b8fa19f;
  color: var(--text-color);
}
.hero-intro .button {
  font-size: 2.2vh;
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--text-font);
  background: #3e6567;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
}

/* password-li */
.hero-intro li {
  display: none;
}
/* .hero-intro li { */
/* list-style-type: disc; */
/* font-size: 2.1vh; */
/* color: var(--text-color); */
/* letter-spacing: 1px; */
/* font-family: var(--text-font); */
/* line-height: 1.1; */
/* margin-bottom: 4%; */
/* } */

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  #desktop__input {
    display: none;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    display: none;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    display: none;
  }
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /****** Hero-Section ******/
  #hero {
    margin-top: 2%;
  }
  .hero-intro {
    margin: 3%;
  }
  #mobile__input {
    display: none;
  }
  #return_link {
    margin-left: 85%;
    margin-bottom: 5%;
  }
  #return-link_img {
    width: 30%;
  }
  #return_link h6 {
    font-size: 1.8vh;
  }
  #page_logo {
    width: 10%;
    margin-bottom: 2%;
  }
  .hero-intro h1 {
    font-size: 4vh;
  }
  .hero-intro p {
    font-size: 2.3vh;
  }
  .hero-intro label {
    font-size: 2.2vh;
    font-weight: 300;
  }
  .hero-intro .button {
    font-size: 2.2vh;
    padding: 0.4rem 1.2rem;
  }

  /* password-li */
  .hero-intro li {
    font-size: 2.1vh;
    letter-spacing: 1px;
    margin-bottom: 3%;
  }
}

/************************ Extra large devices (extra large desktops, 1900px and up) ********************************/
@media (min-width: 2000px) {
  body {
    display: none;
  }
}
