<div
  class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
>
  <div class="flex justify-between mb-3">
    <div class="flex justify-center items-center">
      <h5
        class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1"
      >
        Report Stats
      </h5>
    </div>
  </div>

  <!-- Donut Chart -->
  <div class="py-6" id="donut-chart"></div>

  <div
    class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between"
  >
    <div class="flex justify-between items-center pt-5">
      <a
        href="#"
        class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2"
      >
        Traffic analysis
        <svg
          class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
