{% load static %}
<!--  -->
{% load widget_tweaks %}
<!--  -->
{% load humanize %}
<!--  -->
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Enhance your reporting capabilities with the Excel Report Manager App."
    />
    <meta
      name="keywords"
      content="report manager, Excel reports, reporting software"
    />
    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Finance-Manager | Dashboard Page</title>

    <!-- Preload CSS -->
    <link rel="preload" as="style" href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/a_dashboard.css' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/a_dashboard.css' %}" />

    <!-- Flowbite CSS -->

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    {% include 'nav.html' %}
    <!-- end nav -->
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container-fluid">
            <div class="hero-intro">
              <h1>Welcome back, {{request.user.profile.username}}</h1>

              <!-- dashboard cards -->
              <div class="row" id="dashboard_card">
                <div class="col-md-4 align-self-center">
                  <div class="card" id="main_card">
                    <div class="card-body">
                      <h6>
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        approved reports - <span>6</span>
                      </h6>
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h6 id="rejected_">
                        <ion-icon name="close-circle-outline"></ion-icon>
                        rejected reports
                      </h6>
                      <div id="stats">
                        <center>
                          <small>7</small>
                        </center>
                      </div>
                      <!-- end stats -->
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h6 id="pending_">
                        <ion-icon name="timer-outline"></ion-icon>
                        pending reports
                      </h6>
                      <div id="stats">
                        <center>
                          <small>10</small>
                        </center>
                      </div>
                      <!-- end stats -->
                    </div>
                    <!-- end card-body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
              </div>
              <!-- end dashboard cards -->
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->

        <!--=========================================== correction-Section ===============================-->
        <div id="correction">
          <div class="container">
            <div class="correction-intro">
              <h2 id="h2-text">
                <ion-icon name="sync-outline"></ion-icon>
                <span id="move_txt">
                  latest reports for correction <br />
                  <small>Today - May 12, 2024</small>
                </span>
              </h2>

              <h2 class="align-self-center" id="h2-icon">
                <ion-icon name="reader-outline"></ion-icon>
                you got 5 reports for correction
              </h2>
            </div>
            <!-- end correction-intro -->

            <!--  -->
            <img
              src="{% static 'images/line.png'%}"
              class="img-fluid d-flex mx-auto"
              id="page_line"
              alt="page_line"
            />
            <!--  -->

            <div class="row">
              <div class="col-md-4" id="correction-card">
                <div class="card">
                  <div class="card-body">
                    <h6>
                      <ion-icon name="reader-outline"></ion-icon>
                    </h6>
                    <small
                      >report data
                      <span class="badge correction">correction</span></small
                    >
                    <hr />

                    <h3 id="description">support for svg. complet…</h3>
                    <h3 id="main_cat">
                      <ion-icon name="radio-button-on-outline"></ion-icon>
                      porro quisquam
                    </h3>
                    <h3 id="sub_cat">
                      <ion-icon name="radio-button-on-outline"></ion-icon>
                      est qui dolorem
                    </h3>

                    <a href="#" id="corrections" class="btn">
                      <ion-icon name="reader-outline"></ion-icon> make
                      correction
                    </a>
                    <a href="#" id="all_corrections" class="btn">
                      <span>view all corrections</span>
                    </a>
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end correction-card -->

              <div class="col-md-8" id="reports-table">
                <div class="card">
                  <div class="card-body">
                    <table class="table table-hover" id="invoice_table">
                      <thead>
                        <tr>
                          <th scope="col">username</th>
                          <th scope="col">main category</th>
                          <th scope="col">status</th>
                          <th scope="col">sub category</th>
                          <th scope="col">payment</th>
                          <th scope="col">download</th>
                          <th scope="col">edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for report in reports %}
                        <tr>
                          <td>{{report.account_owner.username}}</td>
                          <td>{{report.main_category|truncatechars:10}}</td>
                          <td>
                            {% if report.status == 'pending' %}
                            <span class="badge pending">pending</span>
                            {% elif report.status == 'reject' %}
                            <span class="badge reject">reject</span>
                            {% elif report.status == 'correction' %}
                            <span class="badge correction">correction</span>
                            {% else %}
                            <span class="badge approve">approve</span>
                            {% endif %}
                          </td>
                          <td>{{report.sub_category|truncatechars:10}}</td>
                          <td>${{report.payment|floatformat:2|intcomma}}</td>
                          <td>
                            <a href="{% url 'download_report' report.id %}"
                              ><ion-icon name="download-outline"></ion-icon
                            ></a>
                          </td>
                          <td>
                            <a href="{% url 'edit-report' report.id %}">
                              <ion-icon
                                name="ellipsis-horizontal-outline"
                              ></ion-icon>
                            </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <!-- end table -->
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end reports-table -->
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </div>
        <!-- End correction -->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- flowbite cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Custom Links -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <script>
      const getChartOptions = () => {
        return {
          series: [35.1, 23.5, 2.4, 5.4],
          colors: ["#5b616b8f", "#0568fd", "#6ece9d", "#e34432"],
          chart: {
            height: 320,
            width: "100%",
            type: "donut",
          },
          stroke: {
            colors: ["transparent"],
            lineCap: "",
          },
          plotOptions: {
            pie: {
              donut: {
                labels: {
                  show: true,
                  name: {
                    show: true,
                    fontFamily: "Inter, sans-serif",
                    offsetY: 20,
                  },
                  total: {
                    showAlways: true,
                    show: true,
                    label: "Unique visitors",
                    fontFamily: "Inter, sans-serif",
                    formatter: function (w) {
                      const sum = w.globals.seriesTotals.reduce((a, b) => {
                        return a + b;
                      }, 0);
                      return "$" + sum + "k";
                    },
                  },
                  value: {
                    show: true,
                    fontFamily: "Inter, sans-serif",
                    offsetY: -20,
                    formatter: function (value) {
                      return value + "k";
                    },
                  },
                },
                size: "80%",
              },
            },
          },
          grid: {
            padding: {
              top: -2,
            },
          },
          labels: ["Pending", "Correction", "Approved", "Rejected"],
          dataLabels: {
            enabled: false,
          },
          legend: {
            position: "bottom",
            fontFamily: "Inter, sans-serif",
          },
          yaxis: {
            labels: {
              formatter: function (value) {
                return value + "k";
              },
            },
          },
          xaxis: {
            labels: {
              formatter: function (value) {
                return value + "k";
              },
            },
            axisTicks: {
              show: false,
            },
            axisBorder: {
              show: false,
            },
          },
        };
      };

      if (
        document.getElementById("donut-chart") &&
        typeof ApexCharts !== "undefined"
      ) {
        const chart = new ApexCharts(
          document.getElementById("donut-chart"),
          getChartOptions()
        );
        chart.render();

        // Get all the checkboxes by their class name
        const checkboxes = document.querySelectorAll(
          '#devices input[type="checkbox"]'
        );

        // Function to handle the checkbox change event
        function handleCheckboxChange(event, chart) {
          const checkbox = event.target;
          if (checkbox.checked) {
            switch (checkbox.value) {
              case "desktop":
                chart.updateSeries([15.1, 22.5, 4.4, 8.4]);
                break;
              case "tablet":
                chart.updateSeries([25.1, 26.5, 1.4, 3.4]);
                break;
              case "mobile":
                chart.updateSeries([45.1, 27.5, 8.4, 2.4]);
                break;
              default:
                chart.updateSeries([55.1, 28.5, 1.4, 5.4]);
            }
          } else {
            chart.updateSeries([35.1, 23.5, 2.4, 5.4]);
          }
        }

        // Attach the event listener to each checkbox
        checkboxes.forEach((checkbox) => {
          checkbox.addEventListener("change", (event) =>
            handleCheckboxChange(event, chart)
          );
        });
      }
    </script>
  </body>
</html>
