{% load static %}
<!--  -->
{% load widget_tweaks %}
<!--  -->
{% load humanize %}
<!--  -->
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Enhance your reporting capabilities with the Excel Report Manager App."
    />
    <meta
      name="keywords"
      content="report manager, Excel reports, reporting software"
    />
    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>Finance-Manager | Corrections Page</title>

    <!-- Preload CSS -->
    <link rel="preload" as="style" href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/corrections.css' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/corrections.css' %}" />

    <!-- Flowbite CSS -->

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    {% include 'nav.html' %}
    <!-- end nav -->
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        {% if correction_reports %}
        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container-fluid">
            <div class="hero-intro">
              <h1>
                You have <span>{{correction_count}}</span> reports returned for
                correction.
              </h1>
              <p>Review and update pending reports efficiently</p>
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->

        <!--=========================================== correction-Section ===============================-->
        <div id="correction">
          <div class="container">
            <!--  -->
            <img
              src="{% static 'images/line.png'%}"
              class="img-fluid d-flex mx-auto"
              id="page_line"
              alt="page_line"
            />
            <!--  -->

            <div class="row">
              {% for report in correction_reports %}
              <div class="col-md-4" id="correction-card">
                <div class="card">
                  <div class="card-body">
                    <h6>
                      <ion-icon name="reader-outline"></ion-icon>
                    </h6>
                    <small
                      >report data
                      <span class="badge correction">correction</span></small
                    >
                    <hr />

                    <h3 id="description">
                      {{report.description|truncatechars:40}}
                    </h3>
                    <h3 id="main_cat">
                      <ion-icon name="checkbox-outline"></ion-icon>
                      {{report.main_category|truncatechars:30}}
                    </h3>
                    <h3 id="sub_cat">
                      <ion-icon name="checkbox-outline"></ion-icon>
                      {{report.sub_category|truncatechars:30}}
                    </h3>
                    <h3 id="payment">
                      <ion-icon name="checkbox-outline"></ion-icon>
                      ${{ report.payment|floatformat:2|intcomma }}
                    </h3>

                    <a href="#" id="corrections" class="btn">
                      <ion-icon name="reader-outline"></ion-icon> make
                      correction
                    </a>
                    <form
                      action="{% url 'correction_done' report.id %}"
                      method="post"
                    >
                      {% csrf_token %}
                      <button type="submit" id="mark_done" class="btn">
                        <span>mark as done</span>
                      </button>
                    </form>
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card -->
              </div>
              {% endfor %}
              <!-- end correction-card -->
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </div>
        <!-- End correction -->
        {% else %}
        <!--  -->
        <div id="no-data">
          <img
            src="{% static 'images/correction-img.svg' %}"
            class="img-fluid d-flex mx-auto"
            id="correction_img"
            alt="correction_img"
          />
          <h2>Correction Reports</h2>
          <p>
            No correction report is available at this time. Please check back
            later for updates.
          </p>
        </div>
        <!--  -->
        {% endif %}
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- flowbite cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Custom Links -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
